<html> 
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
	</head>
	<body>

		<h1 class="header">A Page about Movies</h1>

		<h3 class="header">Add movies to the database <a href="/addmovie">HERE</a>!!!</h3>

		<form action="/search", method="GET">
			<h3 class="header">Search the database</h3>
			<input type="text" name="title" />
			<br><br><br>
			<input type="submit" value="submit" />
		</form>

		<p>This basic website brought to you by LambdaSchool. For more info, visit their <a href="https://lambdaschool.com/">website</a></p>
		
	</body>
</html>